@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-column: repeat(12,1fr);
    grid-row: repeat(6,1fr);
}

/* header */
header{
    background: #ffffff;
    grid-row: 1/5;
    grid-column: 3/13;
    box-shadow: 1px 1px 5px grey;
    z-index: 1;
}

.header-container{
    display: grid;
    grid-template-rows: 9vh 12vh;
}
.header-container-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 1/2;
}
.header-container-top .icon{
    height: 1.2rem;
    
}

.header-container-top input{
    width: 50vw;

}
.profile-img{
    height: 3rem;
    width: 50px;

}
.profile-box p{
    font-weight: 1000;
    font-size: 1rem;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}
.search{
   width: 50vw;
}
input{
    border-radius: 2rem;
    height: 1.3rem;
    background: #E2E8F0;
    border: none;
    padding: 3px 10px;
}
.profile-box{
        width: 28vw;
         
}

.header-container-bottom{
    display: flex;
    justify-content: space-between;
    grid-row: 2/3;
    background: #fff;
    margin-bottom: 10px;
}
.left-box{
    display: flex;
    width: 36vw;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.right-box{
    width: 30vw;
}
.right-box ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;

}
.right-box ul li{
    background: #2292D7;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
}
.profile-img-large{
    height: 5rem;
    width: 80px;

}

.bio{
    font-size: 0.8rem;
    font-weight: 700;
}
.username{
    font-size: 1.6rem;
    font-weight: 1000;
}





/* sidebar */
aside{
    background: #2292d7;
    grid-row: 1/6;
    grid-column: 1/3;
    color: white;
}

/* logo bar */

.logo-name{
    font-size: 1.5rem;
}
.logo-box{
    height: 1.7rem;
    width: 1.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
}
.logo-container{
    display: flex;
    gap: 1rem;
}
 #logo-part-1{
    background-color: #fff;
    grid-row: 1/3;
    grid-column: 1;
}
#logo-part-2{
    background-color: #fff;
    grid-row: 1;
    grid-column: 2;
}
#logo-part-3{
    background-color: #fff;
    grid-row: 3;
    grid-column: 1;
}
#logo-part-4{
    background-color: #fff;
    grid-row: 2/4;
    grid-column: 2;
} 

.container{
      margin-top: 2rem;
      font-size: 1.2rem;
    margin-left: 20px;
    width: 15vw;
}
.container img{
    filter: invert(1);
    height: 1.2rem;
}
li{
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
li p{
    margin-left: 10px;
    
}




/* main  */
main{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #E2E8F0;
    grid-column: 3/13;
    grid-row: 5 /6;
}

/* left container  */

.main-left-container{
    width: calc(60vw - 20px);
    height: 77vh;
    margin-left: 20px;

}
.main-left-top-container{
    display: flex;

}
.main-left-bottom-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    width: inherit;
    height: 65vh;
}

.main-titles{
    font-size: 1rem;
    font-weight: 900;
    height: 5vh;
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;

}
.project-box{
    height: 9rem;
    width: 20rem;
    background: white;
    border-left: 7px solid #F0B429;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 5px grey;
}


.project-des{
    padding: 25px 40px 0px 32px;
    height: 5rem;
}
.project-des h3{
    font-size: 1rem;
}
.project-des p{
    font-size: 0.8rem;
    color: #A2A2A2;
}
.project-icon{
    width: inherit;
    display: flex;
    justify-content: end;
}
.project-icon img{
    height: 1rem;
    margin-right: 1rem;
}

/* right container  */
.main-right-container{
    width: 23vw;
    height: 77vh;
}

/* top  */
.main-right-top-container{
    width: inherit;
    height: 37vh;
}

.announcement{
    width: 16vw;
    height: 33vh;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 3px 3px 5px grey;
}
.announcement h3{
    font-size: 0.9rem;
}
.announcement p{
    font-size: 0.6rem;
    color: #A2A2A2 ;
}
.announcement-1 ,.announcement-2{
    border-bottom: 1px solid #E2E2E2;
}
.announcement-1 ,.announcement-2, .announcement-3{
    padding: 1rem 1.5rem;
    height: 7vh;
}


/* bottom  */
.main-right-bottom-container{
    width: inherit;
    height: 30vh;
    margin-top: 1rem;
}

.trending{
    height: 25vh;
    width: 16vw;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 5px grey;
}


.other-profile{
    display: flex;
    align-items: center;
    width: inherit;
    height: 5.5vh;
    padding: 5px 0px 0px 20px;
}
.other-profile img{
    height: 2rem;
    border-radius: 4rem
}
.other-profile div h3,.other-profile div p{
    font-size: 0.6rem;
    margin: 3px 0px 4px 5px;
}
.other-profile div p{
    color: #A2A2A2 ;

}






